* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: lightgray;
}
nav > ul {
  padding: 15px;
}
nav > ul > li {
  font-weight: bold;
  display: inline;
}
li {
  list-style: none;
}
nav > ul > li > a {
  color: black;
  padding: 10px;
}
a {
  color: gray;
  text-decoration: none;
}
.error {
  color: red;
}
.success {
  color: #29b600d9;
}
.p-3 {
  padding: 3px;
}
.p-5 {
  padding: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.content {
  margin: 30px;
  margin-left: 50px;
}
h1,
h2,
h3,
h4 {
  padding: 10px 0px;
}
.btn {
  color: black;
  padding: 5px 15px;
  font-weight: bold;
  background-color: lightgray;
  border: none;
  box-shadow: 0 0 10px #000000;
  border-radius: 5px;
  margin: 20px 3px 0px;
  display: inline-block;
}
.btn:hover {
  background-color: #dbdada;
  cursor: pointer;
  text-shadow: 0px 0px 1px #747474;
}
.btn:active {
  margin: 20px 2px 0px;
  padding: 5px 16px;
  background-color: #dbdada;
  box-shadow: 0 0 8px #000000;
  transform: translateY(2px);
  border-radius: 6px;
  text-shadow: 0px 0px 1px #747474;
}

.btn-red {
  color: black;
  background-color: #c40202;
}
.btn-red:hover {
  background-color: #e20000;
  text-shadow: 0px 0px 1px #747474;
}
.btn-red:active {
  background-color: #ff0000;
  text-shadow: 0px 0px 5px #6d0000;
  box-shadow: 0 0 15px 5px #9c0000;
}

.btn-lime {
  color: green;
}
.btn-lime:hover {
  color: #00b900;
}

.box {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px;
}
input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}
.post {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin: 10px 0px;
}
textarea {
  outline: none;
  padding: 7px;
  resize: none;
}
.textfield * {
  vertical-align: top;
}
.inline-block {
  display: inline-block;
}
