* {
  margin: 0px;
  padding: 0px;
}
h2.resume::before {
  content: "01"
}
h2.portfolio::before {
  content: "02"
}
h2.blog::before {
  content: "03"
}
h2.contact::before {
  content: "04"
}
h2::before {
  position: absolute;
  font-size: 14px;
  top: -20px;
  left: -20px;
}
@media only screen and (max-width: 575px) {
  .main-block, .block {
    border: none;
  }
  .main-block {
    height: 200px;
    padding-top: 30px;
  }
  .block {
    border-top: 1px solid black;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  h2 {
    font-size: 20px;
    line-height: 2em;
    margin: 25px 0 25px 40px;
    position: relative;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main-block, .block {
    border: none;
  }
  .main-block {
    height: 200px;
    padding-top: 30px;
  }
  .block {
    border-top: 1px solid black;
  }
  .container {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
  h2 {
    font-size: 20px;
    line-height: 2em;
    margin: 25px 0 25px 40px;
    position: relative;
  }
}
@media only screen and (min-width: 768px) and (max-width: 800px) {
  .main-block, .block {
    border: none;
  }
  .main-block {
    height: 322px;
    padding-top: 30px;
  }
  .block {
    border-top: 1px solid black;
  }
  .container {
    max-width: 690px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  h2 {
    line-height: 3em;
    font-size: 28px;
    margin: 50px 50px 0 50px;
    position: relative;
  }
  h2::before {
    position: absolute;
    font-size: 14px;
    top: -40px;
    left: -20px;
    transition: all 0.5s ease;
  }
  h2::after {
    position: absolute;
    content: '';
    top: 15px;
    left: -20px;
    width: 70px;
    height: 1px;
    background: black;
    transition: all 0.5s ease;
  }
}
@media only screen and (min-width: 801px) and (max-width: 980px) {
}
@media only screen and (min-width: 981px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1900px) {
}
@media only screen and (min-width: 1920px) {
}


