* {
  margin: 0px;
  padding: 0px;
  transition: 0.5s ease;
}
html, body {
  overflow-y:hidden;
  overflow-x:hidden;
  height:100%;
}
.resume h2::before {
  content: "01"
}
.portfolio h2::before {
  content: "02"
}
.blog h2::before {
  content: "03"
}
.contact h2::before {
  content: "04"
}
h2::before {
  position: absolute;
  font-size: 14px;
  top: -20px;
  left: -20px;
}
a {
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 575px) {
  h2 {
    position: relative;
    font-size: 20px;
    line-height: 2em;
    margin: 25px 0 25px 40px;
  }
}@media only screen and (max-width: 767px) {
  .main-block {
    height: 200px;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .block {
    border-top: 1px solid black;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .main-block {
    padding-top: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  h2 {
    position: relative;
    font-size: 20px;
    line-height: 2em;
    margin: 25px 0 25px 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 800px) {
  .main-block {
    height: 322px;
  }
  .container {
    max-width: 690px;
  }
  h2 {
    position: relative;
    line-height: 3em;
    font-size: 28px;
    margin: 50px 50px 0 50px;
  }
  h2::before {
    top: -40px;
    transition: all 0.5s ease;
  }
  h2::after {
    top: 15px;
  }
}
@media only screen and (min-width: 768px){
  h2::after {
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    left: -20px;
    background: black;
    transition: all 0.5s ease;
  }
}
@media only screen and (min-width: 801px) {
  .block {
    box-sizing:border-box;
  }
  .block:hover {
    box-sizing: border-box;
    border: solid black 15px;
  }
  .main-block, .block {
    position: absolute;
    border: 1px solid black;
  }
  .main-block {
    height: 700px;
    width: 700px;
  }
  .block div {
    display: table-cell;
    vertical-align: middle;
  }
  .block:hover div h2::before {
    top: -5px;
    transition: 0.5s ease;
  }
  .block:hover div h2::after {
    top: 14px;
    transition: 0.5s ease;
  }

  h2 {
    margin: 50px;
    font-size: 28px;
    position: relative;
  }

  .rot36-min{
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
  }
  .rot36-plus{
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
  }
  #b1 {
    width: 420px;
    height: 300px;
  }
  #b2 {
    width: 420px;
    height: 400px;
  }
  #b4 {
    width: 430px;
    height: 400px;
  }

  .portfolio {
    padding: 160px 0 0 50px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1919px) {
  .main-block {
    left: -240px;
    top: 20px;
  }
  
  #b1 {
    left: 309px;
    top: -176px;
  }
  #b2 {
    left: 504px;
    top: 64px;
  }

  .resume {
    padding: 150px 0 0 30px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 980px) {
  #b3 {
    width: 370px;
    height: 270px;
    left: 334px;
    top: 545px;
  }
  .blog {
    padding: 10px 0px 0px 90px;
  }

  #b4 {
    left: 10px;
    top: 757px;
  }
  .contact {
    padding: 0 0 20px 150px;
  }
}
@media only screen and (min-width: 981px) {
  #b3 {
    width: 420px;
    height: 300px;
  }
}
@media only screen and (min-width: 981px) and (max-width: 1024px) {
  .blog {
    padding: 40px 0px 0px 70px;
  }
  .contact {
    padding: 40px 0 0 110px;
  }
}

@media only screen and (min-width: 981px) and (max-width: 1280px) {
  #b4 {
    left: 316px;
    top: 551px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .blog {
    padding: 40px 0px 0px 70px;
  }
  .contact {
    padding: 40px 0 0 110px;
  }
}

@media only screen and (min-width: 981px) and (max-width: 1919px) {
  #b3 {
    left: 699px;
    top: 403px;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1919px) {
  .blog {
    padding: 40px 0px 0px 70px;
  }

  #b4 {
    left: 997px;
    top: 43px;
  }
  .contact {
    padding: 90px 0 0 70px;
  }
}
@media only screen and (min-width: 1920px) {
  .main-block {
    left: 60px;
    top: 120px;
  }

  #b1 {
    left: 609px;
    top: -75px;
  }
  #b2 {
    left: 804px;
    top: 164px;
  }
  #b3 {
    left: 999px;
    top: 503px;
  }
  #b4 {
    left: 1296px;
    top: 143px;
  }

  .resume {
    padding: 120px 0 0 40px;
  }
  .blog {
    padding: 40px 0px 0px 70px;
  }
  .contact {
    padding: 90px 0 0 70px;
  }
}